{% import_yaml 'nova/defaults_controller.yaml' as controller %}
{% import_yaml 'nova/defaults_compute.yaml' as compute %}

#openstack-nova-common: useradd -u 162 -r -g nova -G nova,nobody -d /var/lib/nova -s /sbin/nologin -c "OpenStack Nova Daemons" nova
#openstack-nova-compute: usermod -a -G qemu nova
#nova:x:162:162:OpenStack Nova Daemons:/var/lib/nova:/sbin/nologin
#nobody:x:99:nova
#qemu:x:107:nova
#nova:x:162:nova
{% set user = salt['grains.filter_by']({
    'Debian': {
        'group': {
          'name': 'nova',
          'gid': '303',
          'name_virt': 'libvirtd',
          'gid_virt': '401',
        },
        'user': {
          'name': 'nova',
          'uid': '303',
          'home': '/var/lib/nova',
          'shell': '/bin/false',
          'fullname': 'OpenStack Glance Daemons',
          'groups_common': ['nova'],
        },
    },
    'RedHat': {
        'group': {
          'name': 'nova',
          'gid': '162',
          'name_virt': 'libvirt',
          'gid_virt': '401',
        },
        'user': {
          'name': 'nova',
          'uid': '162',
          'home': '/var/lib/nova',
          'shell': '/sbin/nologin',
          'fullname': 'OpenStack Nova Daemons',
          'groups_common': ['nobody', 'nova'],
        },
    },
}, merge=salt['pillar.get']('nova:user')) %}

{% set os_controller = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['nova-novncproxy', 'novnc', 'nova-api', 'nova-ajax-console-proxy', 'nova-cert', 'nova-conductor', 'nova-consoleauth', 'nova-doc', 'nova-scheduler', 'python-novaclient', 'python-memcache'],
        'services': ['nova-api', 'nova-cert', 'nova-consoleauth', 'nova-scheduler', 'nova-conductor', 'nova-novncproxy'],
        'debug': false,
    },
    'RedHat': {
        'pkgs': ['openstack-nova-novncproxy', 'python-nova', 'openstack-nova-api', 'openstack-nova-console', 'openstack-nova-scheduler', 'python-novaclient', 'openstack-nova-common', 'openstack-nova-conductor', 'openstack-nova-cert'],
        'services': ['openstack-nova-api', 'openstack-nova-cert', 'openstack-nova-consoleauth', 'openstack-nova-scheduler', 'openstack-nova-conductor', 'openstack-nova-novncproxy'],
        'debug': false,
    },
}, merge=salt['pillar.get']('nova:controller')) %}
{% do controller.update(os_controller) %}

#        'identity': {
#            'region': 'RegionOne'
#        },
#        'network': {
#            'region': 'RegionOne'
#        },
#        'heal_instance_info_cache_interval': '60',
{% set os_compute = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['nova-compute-kvm', 'python-novaclient', 'pm-utils', 'sysfsutils', 'sg3-utils', 'libvirt-bin', 'python-memcache', 'qemu-kvm','python-guestfs'],
        'services': ['nova-compute'],
        'libvirt_config': 'libvirtd.conf',
        'libvirt_service': 'libvirtd',
        'bind': compute_bind_defaults,
        'debug': false,
    },
    'RedHat': {
        'pkgs': ['openstack-nova-compute', 'python-novaclient', 'python-nova', 'sysfsutils', 'sg3_utils'],
        'services': ['openstack-nova-compute'],
        'libvirt_config': 'libvirtd.conf',
        'libvirt_bin': '/etc/sysconfig/libvirtd',
        'libvirt_service': 'libvirtd',
        'bind': compute_bind_defaults,
        'debug': false,
    },
}, merge=salt['grains.filter_by']({
    'trusty': {
        'libvirt_bin': '/etc/default/libvirt-bin',
        'libvirt_service': 'libvirt-bin',
    },
}, grain='oscodename', merge=salt['pillar.get']('nova:compute'))) %}

{% do compute.update(os_compute) %}
